package basepage

import "github.com/avivbintangaringga/ayobayar/web/components/input"

templ BasePage(title string) {
	<html>
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/css/app.css"/>
			@input.Script()
		</head>
		<body class="bg-main-background dark">
			<div class="min-h-svh">
				{ children... }
			</div>
		</body>
	</html>
}
